// Colours
$bodyColour: #333333;
$headingColour: darken($bodyColour, 5%);
$linkColour: #aaa;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour:  #ffffff;
$codeBackgroundColour: darken($backgroundColour, 5%);
